/target/
/allure-results/
/allure-report/
/extent-reports/
/test-output/
/reports/
/generatedReport_*.zip
/generatedReport/
/generate_allure_report.sh
/allure-results.zip
/generate_allure_report.bat
/Projects.iml
/target/
/.idea/
src/test/resources/TestDataFiles/SauceLabs.app/
.idea/workspace.xml
.idea/misc.xml
Projects.iml
*.iml
execution-summary/ExecutionSummaryReport_13-08-2023_14-18-12-0864-PM.html
/src/java/resources/Properties/*
/src/java/resources/Properties/default
src/test/resources/META-INF/services/org.testng.ITestNGListener
